@using Models.Entity;
@using PagedList.Mvc;
@model PagedList.IPagedList<TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="box-body">
    <div class="panel-heading">
        @Html.ActionLink("Tạo mới tin tức", "Create", "News")
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <caption style="text-align:center"><i><b>DANH SÁCH TIN TỨC</b></i></caption>
        <thead>
            <tr>
                <th>Mã Bản Tin</th>
                <th>Tên Bản Tin</th>
                <th>Nội dung</th>
                <th>Ảnh</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ma</td>
                    <td>
                        @item.ten
                    </td>
                    <td>@item.mota.Substring(0, 100)...</td>
                    <td> <img src="@Url.Content("/Photo/"+@item.linkanh)" style="width:70px;height:70px;" alt="Chưa có ảnh" /></td>
                    <td style="text-align:center;"><a href="/Admin/News/Edit?matintuc=@item.ma"><span class="glyphicon glyphicon-edit"></span></a>--<a href="/Admin/News/Delete?matintuc=@item.ma" onclick="return confirm('Bạn có muốn xóa ?')"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
</div>
