@{
    ViewBag.Title = "SanPhamTheoUuTien";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
@using Models.Entity;
@model IPagedList<SanPham>
<div class="features_items">
    <h2 class="title text-center">Sản phẩm mới</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        @if (@item.uutien == 3)
                        {
                            <img src="/Content/images/product-details/new.jpg" class="newarrival" alt="" style="width:44px;height:22px;" />}
                        @if(@item.uutien==2){
                        <img src="/Content/images/home/sale.png" class="newarrival" alt="" style="width:42px;height:42px;" />
                        }
   
                        <a href="/SanPham/ChiTietSp/?masanpham=@item.masanpham"><img src="@Url.Content("/Photo/" + @item.linkanh)" style="width:184px;height:162px;" alt="Chưa có ảnh" /></a>
                        <h2>@item.giaban vnd</h2>
                        <p>@item.tensanpham</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào rỏ hàng</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div><!--features_items-->
@Html.PagedListPager(Model, page => @Url.Action("SanPhamTheoUuTien", new { page }))





